<link href="/css/site.css" rel="stylesheet" />
@model MovieBate.Models.ApiResponse


<div class="row">



@{
    foreach(var movie in Model.Search)
{
    <div class="col">
    <h4>@movie.Type</h4>
    <form action="/movies/@Model.Id">
    <input type="image" src="@movie.Poster" name="movie poster" class="movie-poster" id="saveForm" />
    </form>
    <p></p>
    <H5>@movie.Title</H5>
    <p>Year: @movie.Year</p>
    <p>Movie/Series Description Coming Soon!</p>
       </div>
           

};

}
</div>


