

@model MovieBate.Models.ApiResponse


<h1>Movie Title</h1>

@{
    foreach(var movie in Model.Search)
{
    <h4>@movie.Type</h4>
    <img src="@movie.Poster" alt="Movie Poster">
    <p>@movie.Title</p>
    <p>Year: @movie.Year</p>
};
}
<h1>Movie Description</h1>



<h1>Comment Section</h1>