

@model MovieBate.Models.ApiResponse

<style>


    .container {
        justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;
    }
</style>

@{
    foreach(var movie in Model.Search)
{
    <h4>@movie.Type</h4>
    <img src="@movie.Poster" alt="Movie Poster">
    <p>@movie.Title</p>
    <p>Year: @movie.Year</p>
    <p>Movie/Series Description Coming Soon!</p>
       
   
};

}



