@model MovieBate.Models.Movie
@{
    string anonId = ViewData["AnonUserId"] as string;
}




    
       
        
           
               


               
                <input type="image" src="@Model.Poster" name="movie poster" class="movie-poster" id="saveForm" />

                <p></p>
                <H5>@Model.Title</H5>
                
                <p>Movie/Series Description Coming Soon!</p>
            



    
           